.upldForm {
    margin: 0 auto;
}
form {
    margin: 0 auto;
    padding: 15px;
    border: solid gray 1px;
}
.uploadImg {
    display: flex;
    justify-content: space-around;
}

img {
    width: 150px;
}
